body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.actives{
  color: #59B6F0 !important;
  
  
}
.links{
  font-size: 1.2rem;
}
.link{
  font-size: 1.8rem !important;
}
.main{
  height: 80vh;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.animated{
  animation: anime 3s linear alternate-reverse infinite;
}

@keyframes anime{
  from{
    transform: translateX(-10px);
  }
  to{
    transform: translateX(10px);
  }
}
.navo{
  background-color: #4185B0 !important;
}
.get-started{
  border-radius: 50px;
  border:1px solid #4185B0;
  padding: 4px 50px;
  transition: 0.5s;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
}
.get-started:hover{
  background-color:#4185B0;
  color: white;
  text-decoration: none;
}
.time{
  font-size: 3rem;
  color:#4185B0 ;
  
}
.head{
  word-spacing: 1px;
  letter-spacing: 2px;
  
}
@media(max-width : 768px){
  .head{
    font-size: 1.8rem;
  }
  .get-started{
    margin-top: 40px;
    padding: 4px 90px;
  }

}
.para{
  font-size: 1rem;
  padding-top: 20px;
  color: grey;
}
/* 
********************** About Us ********************* */

.about{
  
  height: 89vh;
  width: 100vw;

}
.head2{
  color: #4185B0;
  letter-spacing: 10px;
}
.para{
  letter-spacing: 2px;
}


.profile{
  height: 12%;
}

@media(max-width: 768px){
  .head2{
    text-align: center;
  }
  .para{
    text-align: center;
  }
}
/* 
********************serices********************* */
.ser-heading{
  color: #4185B0;
  letter-spacing: 10px;
}
.ig1{
  height: 80%;
}
.card-sh{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: 0.7s;
}
.card-sh:hover{
  transform: scale(0.95);
}

/* ************************contact us ********************** */
.contact-into{
  letter-spacing: 2px;
  color: #4185B0;
}